<html>
<head>
	<title>Show Your Bones</title>
	<link rel="stylesheet" type="text/css" href="/css/villains/edit.css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
</head>
<body>

<a href="/">Home</a><br/>
<h1>The stories couldn't begin to descripe the treacherous acts I've done to the world</h1>

<h2>Fix <%=name%></h2>
<form action="/villains/<%=id%>?_method=PUT" method="POST">
<input type="text" name="quote" value="<%= quote%>" placeholder="quote"><br/>

<input type='text' name='comments'value="<%= comments%> " ><br>


<input type="text" name="image" value="<%= image %>" placeholder="New Image"><br/>

<textarea name="about" rows="8" cols="40" value='<%=about%>'> <%=about%>
</textarea> 
<br/>
<button>Submit</button>
</form>





<!-- var vilSchema = mongoose.Schema({ -->
<!-- 	name:{type:String, required:true, unique:true},
	from:{type:String, required:true},
	image:String,
	accomplishments:[],
	about:String,
	comments: [ commentSchema ]
});
 -->


</body>
</html>