<html>
<head>
	<title>Show your Bones</title>
	<link rel="stylesheet" type="text/css" href="/css/villains/show.css">
</head>
<body>

	
	<h1>Villains Show page </h1>
						<a href="/villains"><p>All Villains</p></a>

 <div class='box>'><h1><%= name %></h1>
    <small><%= from %></small><br/>
    <p><%= about %></p>
    <img src=" <%= image %> ">
  <% for (var i = 0; i < accomplishments.length; i++) { %>
	   <p>   <%= accomplishments[i]  %> </p>
<% } %>
</div>	
	<div id='comment-container'>
		<% for (var i = 0; i < comments.length; i++) { %>
	    <p> <%= comments[i].words %></p>
<% } %> 


	</div>




		<form action="/villains/<%= id %>/comment" method="POST">
						<input type="text" name="words" placeholder="Add Your own Comment">
						<input type="submit">


  <a href="/villains/<%=id%>/edit">Think you know more about this guy?</a>
		</form>














<% include ../partials/footer %>
<!-- after the user clicks on the movie it takes them here where it will tell you info on the movie and a page for prople to talk about it  -->


<%#var vilSchema = mongoose.Schema({
	name:{type:String, required:true, unique:true},
	from:{type:String, required:true},
	accomplishments:[],
	about:String,
	comments: [String]
});%>