<html>
<head>
	<title>Show your Bones</title>
	<link rel="stylesheet" type="text/css" href="/css/villains/show.css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Great+Vibes' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

</head>
<body>


  	<a href="/villains"><button id='home'>Home</button></a>

	<h1> <%= quote %> </h1>
 	
 	<div id='comment-container'><h4>Comments</h4>
						<% for (var i = 0; i < comments.length; i++) { %>
	    		<p> <%= comments[i].words %>   <small>  <%= comments[i].user %> </small></p>

						<% } %> 
					

				<form action="/villains/<%= id %>/comment" method="POST">
						<input type="text" name="user" placeholder="Leave your name!"><br>
						<textarea name="words" rows="8" cols="30" placeholder="Leave a message!"></textarea>
						<br>
						<input type="submit">
						<br>
				</form>
		
		</div>

	<img src=" <%= image %> ">


    	

 				<h2><%= name %></h2> <h3> from <%= from %></h3><br/>

   
 
 
 	<article><%= about %></article>
	

  <a href="/villains/<%=id%>/edit"> <button></button></a><br>






<% include ../partials/footer %>
<!-- after the user clicks on the movie it takes them here where it will tell you info on the movie and a page for prople to talk about it  -->


<%#var vilSchema = mongoose.Schema({
	name:{type:String, required:true, unique:true},
	from:{type:String, required:true},
	accomplishments:[],
	about:String,
	comments: [String]
});%>