<html>
<head>
	<title>Show your Bones</title>
	<link rel="stylesheet" type="text/css" href="/css/villains/show.css">
</head>
<body>

	


	
	<img src=" <%= image %> ">
 <div class='box>'><h1><%= name %></h1>
    <small><%= from %></small><br/>
 <article><%= about %></article>
    	<div id='comment-container'>
		<% for (var i = 0; i < comments.length; i++) { %>
	    <p> <%= comments[i].words %></p>
<% } %> 
					</div>

  <% for (var i = 0; i < accomplishments.length; i++) { %>
	   <p>   <%= accomplishments[i]  %> </p>
<% } %>
</div>	

		<form action="/villains/<%= id %>/comment" method="POST">
						<input type="text" name="words" placeholder="talk about this guy">
						<input type="submit"><br>
</form>

  <a href="/villains/<%=id%>/edit">Think you know more about this guy?</a><br>
  	<a href="/villains">Check out the rest of the crew</a>

	<div id='add'> Your add here</div></a>









<% include ../partials/footer %>
<!-- after the user clicks on the movie it takes them here where it will tell you info on the movie and a page for prople to talk about it  -->


<%#var vilSchema = mongoose.Schema({
	name:{type:String, required:true, unique:true},
	from:{type:String, required:true},
	accomplishments:[],
	about:String,
	comments: [String]
});%>