<html>
<head>
	<title>Show your Bones</title>
	<link rel="stylesheet" type="text/css" href="/css/villains/show.css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Great+Vibes' rel='stylesheet' type='text/css'>
</head>
<body>

	


	<h1> <%= quote %> </h1>

	<img src=" <%= image %> ">
 	<article><%= about %></article>
    	
<!--  <div class='box>'> -->
 				<h2><%= name %></h2>

    <small><%= from %></small><br/>
 
 	


    	<div id='comment-container'><h4>Comments</h4>
		<% for (var i = 0; i < comments.length; i++) { %>
	    <p> <%= comments[i].words %>   - <span> <%= comments[i].user %> </span></p>

<% } %> 
					</div>


<!-- </div>	 -->

		<form action="/villains/<%= id %>/comment" method="POST">
						<input type="text" name="user" placeholder="Leave your name!">
						<input type="text" name="words" placeholder="Leave a message!">

						<input type="submit"><br>
		</form>

  <a href="/villains/<%=id%>/edit">Think you know more about this guy?</a><br>
  	<a href="/villains">Check out the rest of the crew</a>





<% include ../partials/footer %>
<!-- after the user clicks on the movie it takes them here where it will tell you info on the movie and a page for prople to talk about it  -->


<%#var vilSchema = mongoose.Schema({
	name:{type:String, required:true, unique:true},
	from:{type:String, required:true},
	accomplishments:[],
	about:String,
	comments: [String]
});%>